body {
  background-color: #000;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: hidden;
  overflow-x: hidden;
}

.form-container {
  position: absolute;
  margin: 0px auto;
  text-align: center;
  width: 400px;
  height: 400px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
}

.input-animation {
  z-index: 2;
}
.input {
  position: absolute;
  top: 50%;
  padding: 1.5em;
  transform: translate(-50%, -50%);
  background-color: #333;
  width: 100%;
  border-radius: 5em;
  border: 0.8px solid #555;
  outline: none;
  z-index: 4;
}
.input[type="text"] {
  color: white;
  text-indent: 1.3em;
}
.input[type="text"]:focus {
  border: 1px solid #888;
}

.submit-btn {
  position: fixed;
  top: 60%;
  left: 45%;
  transform: translate(-50%, -50%);
  text-align: center;
  justify-content: center;
  background-color: #444;
  height: 3em;
  width: 3em;
  border-radius: 5em;
  outline: none;
}
.btn-x {
  margin: 0;
  font-size: 1.2em;
}

.add-error {
  color: #c2342f;
  z-index: 1;
  text-align: center;
  font-size: 0.8em;
  top: 50%;
  left: 37%;
  position: absolute;
  transform: translate(-50%, -50%);
}

/*
 * TASK STYLES
*/

.tasks-container {
  position: absolute;
  margin: 0px auto;
  text-align: center;
  height: 73vh;
  width: 400px;
  left: 50%;
  top: 30px;
  margin-left: -200px;
  z-index: 1;
  /* border: 1px red solid; */
  overflow-y: auto;
  overflow-x: hidden;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

.tasks-container::-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}
.gradient-bottom {
  position: sticky;
  margin: 0px auto;
  /* border: 2px blue dotted; */
  width: 400px;
  height: 50px;
  left: 50%;
  margin-left: -200px;
  bottom: -1px;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0), black);
  z-index: inherit;
}
.bottom-fill {
  position: absolute;
  margin: 0px auto;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -50%);
  border: 2px blue dotted;
  width: 400px;
  height: 35px;
  overflow-y: auto;
}

.taskTheme {
  list-style: none;
  position: relative;
  margin: 0.4em auto;
  width: 275px;
  padding: 0.5em;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #555;
  border-radius: 1em;
  border: 0.8px solid #888;
  outline: none;
  color: #000;
  z-index: 1;
}

.delete-btn {
  height: 1.5em;
  width: 1.5em;
  background-color: #555;
  border-radius: 2em;
  position: absolute;
  transform: translate(-50%, -50%);
  right: -3%;
  top: 56%;
  z-index: 2;
  cursor: default;
}

.complete-btn {
  height: 1.5em;
  width: 1.5em;
  background-color: #555;
  border-radius: 2em;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 6%;
  top: 56%;
  z-index: 2;
  cursor: default;
  font-size: 0.75em;
}
.complete-btn:hover {
  color: rgb(2, 61, 2);
}

.completed-task {
  text-decoration: line-through;
  color: #333;
}

.priority-btn {
  height: 1.5em;
  width: 1.5em;
  background-color: #555;
  border-radius: 2em;
  position: absolute;
  transform: translate(-50%, -50%);
  right: 4%;
  top: 57%;
  z-index: 2;
  cursor: default;
  color: #333;
  font-size: 0.9em;
}
.priority-btn:hover {
  color: rgb(78, 2, 2);
}

.delete-all-btn {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  background-color: #444;
  height: 3em;
  width: 3em;
  border-radius: 5em;
  outline: none;
}
.delete-all-btn:hover {
  background-color: #914441;
}
